@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #685dc5;
  --secondary-color: #535353;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("../public/fonts/Apercu_Regular.otf ");
}
