@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #685dc5;
  --secondary-color: #535353;
}

.middle-grid {
  grid-template-columns: repeat(2, 320px) auto auto;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("../public/fonts/Apercu_Regular.otf");
  font-weight: normal;
  font-style: normal;
}

/* .thin-text {
  font-family: "Apercu Pro", "sans-serif";
  font-weight: 200;
} */

/* @font-face {
  font-family: "Apercu Pro";
  src: url("../public/fonts/Apercu\ Pro\ Light.otf");
}

@font-face {
  font-family: "Apercu Pro";
  src: url("../public/fonts/Apercu\ Pro\ Medium.otf");
} */
